*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  width: 60%;
  max-width: 50rem;
  min-width: 30rem;
  background-color: #1b1b32;
  color: #f4f5f6;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: Tahoma, sans-serif;
}
h1{
  font-size: 3.2rem;
  text-align: center;
  margin: 3rem 0;
}
p{
  text-align: center;
  margin-bottom: 1.5rem;
}
fieldset{
  padding: 3.5rem 0;
  border: none;
  border-bottom: 3px solid #37374b;
}
label{
  display: block;
}
input:not([type="radio"], [type="checkbox"]), textarea{
  width: 100%;
  background-color: #0a0a23;
  height: 3rem;
  border: none;
  color: #f4f5f6;
  margin: 1rem 0;
}
textarea{
  height: unset;
}
input[type="submit"]{
  display: block;
  width: 60%;
  min-width: 30rem;
  margin: 2rem auto 5rem;
  background-color: #3b3b4f;
  border: 1px solid #f2f2f4;
  font-size: 1.8rem;
  height: 3.8rem;
}
input[type="radio"], input[type="checkbox"]{
  vertical-align: middle;
  margin: 1rem 0.5rem 1rem 0;
}
fieldset:last-of-type{
  border: none;
}
input[type="file"]{
  height: 3rem;
}
select{
  height: 3rem;
  width: 100%;
  margin: 1rem 0;
}
